:root {
  /* Primary */

  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--off-white);
}
.container {
  background-color: var(--white);
  margin: 100px auto;
  width: 420px;
  border-radius: 25px 25px 50px 25px;
  padding: 2rem;
}
form {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: start;
  column-gap: 25px;
}

form div {
  display: flex;
  flex-direction: column;

  width: fit-content;
}

form input {
  width: 80px;
  padding: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid var(--light-grey);
  letter-spacing: 1.2px;
}
input[type="number"]:focus {
  outline: none;
  border: 1px solid var(--purple);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form label {
  text-transform: uppercase;
  color: var(--smokey-grey);
  letter-spacing: 3px;
  font-size: 0.8rem;
}
.line-button {
  margin: 2rem 0 1rem 0;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.line {
  height: 1px;
  border: none;
  background-color: var(--light-grey);
  width: 90%;
}
.line-button button {
  border-radius: 50%;
  background-color: var(--purple);
  border: none;
  padding: 5px;
}
.results {
  font-style: italic;
  font-size: 3rem;
  font-weight: 800;
}
.results span {
  color: var(--purple);
  margin-right: 5px;
}
.enter-btn:hover {
  background-color: black;
}
